.search__form__click {
    display: flex;
    align-items: center;
    width: 35% !important;

    input {
        width: 100% !important;
        border-bottom: 2px solid #000 !important;
    }
}

.form__search {
    transition: all 1.2s;
    width: 0%;
    display: flex;
    align-items: center;

    &__custom {
        background-color: transparent;
        border: 0;
        padding: 10px;
    }

    input {
        transition: all 0.7s;
        width: 0%;
        border-bottom: 0;

        &::placeholder {
            font-size: 1rem;
        }
        &:focus {
            background-color: transparent !important;
            border: 0;
            border-bottom: 1px solid #000;
            outline: 0;
            border-radius: 0;
        }
    }

    i {
        cursor: pointer;
    }
}
