.page {
    position: relative;
    bottom: 10px;
    text-align: center;
    display: inline-block;
    width: 100%;

    li {
        padding: 0.15rem 0.2rem !important;
        background-color: none;
        border: none;
        display: inline-block;
    }
}
.pageNumber {
    font-size: 1rem;
    text-align: right;
    margin: 0 5px;
}
